.about-content-container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 2%;
}

@media (max-width: 780px) {
    .about-text-container {
        margin-top: 10vh;
    }
}
