.features-content-container {
    overflow: hidden;
    margin-top: 20vh;
}


.features__text-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.features-text-container__line {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 1.778rem + 1.11vw, 4rem);
}
.features-line__text {
    font-family: var(--rr-font);
    white-space: nowrap;
}
.features-line__icon {
    width: 1.2em;
    height: auto;
    margin: 0 0.4em;
    display: inline-block;
    vertical-align: middle;
}
.features-line__icon[data-scale] {
    scale: 1.5;
}


.features-top__content-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.features__grid {
    height: 80%;
    width: 80%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "phone purpose"
    "phone achievements";
    gap: 2em;
}
.features__img-container, .features__purpose-container, .features__achievements-container {
    background: var(--light-gray__dark-gray);
    border-radius: var(--two-border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    padding: 4% 2em;
}

/*Phone area */
.features__img-container {
    grid-area: phone;
}
.features__img-wrapper {
    width: 100%;
    height: 80%;
    transform: perspective(800px) rotateY(18deg) rotateX(8deg) rotateZ(-2deg);
    margin-top: -5vh;
}
.features__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 1.05;
}
.f-i-c__text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Purpose area */
.features__purpose-container {
    grid-area: purpose;
}
.features__purpose-container img {
    width: 100%;
    max-height: 20vh;
    object-fit: cover;
    border-radius: var(--border-radius);
}

/* Achievements area */
.features__achievements-container {
    grid-area: achievements;
    overflow: hidden;
}
.f-a-c__achievements-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 1em;

}
.f-a-c__achievement-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

/* Text */
.features-grid__title {
    font-family: var(--rr-bold-font);
    font-size: clamp(1.8rem, 1.578rem + 1.11vw, 3.8rem);
    flex: 0 0 auto;
}
.features-grid__description {
    font-size: clamp(0.8rem, 0.667rem + 0.67vw, 2rem);
    flex: 0 0 auto;
}