.transition-container {
    height: 40vh;
    margin: 10vh 0;
    padding: 5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transition__left {
    font-size: clamp(4rem, 3.556rem + 2.22vw, 8rem);
}
.transition__right {
    font-family: var(--rr-font);
    font-size: clamp(2rem, 1.778rem + 1.11vw, 4rem);
    width: 50vw;
    display: flex;
    align-items: center;
}

