:root {
    /* Цвета */
    --bg-color: white;
    --primary-text-color: black;
    --light-gray: #f5f4f7;
    --dark-gray: #a1a0a2;

    --blue: #2962ff;
    --blue-dark: #0D36A6;

    /* Радиусы */
    --border-radius: 4px;
    --two-border-radius: 16px;

    /*  Шрифты  */
    --faberge-font: "Faberge", "Helvetica", "Roboto Regular", sans-serif;
    --rr-bold-font: "RoadRadio Bold" ,"Helvetica", sans-serif;
    --rr-font: "RoadRadio" ,"Helvetica", sans-serif;
}

.dark-theme {
    --bg-color: black;
    --primary-text-color: white;
    --light-gray: #999999;
    --dark-gray: #222222;
}