/* Content */
.content-container {
    min-height: 100vh;
    max-width: var(--max-width);
}

.spacer {
    height: 100vh;
    background: darkolivegreen;
}


/* Logo */
#logo, #Logo, #Logo-horizontal {
    color: var(--primary-text-color);
}

/* Sections */
.section-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    width: 40vw;
}
.section-title-text {
    font-family: var(--rr-bold-font);
    font-size: clamp(1.5rem, 1.222rem + 1.39vw, 4rem);
}

.section-description-text {
    font-family: var(--faberge-font);
    font-size: clamp(1.2rem, 1.022rem + 0.89vw, 2.8rem);
    text-wrap: balance;
    line-height: 1.2;
}

@media (max-width: 780px) {
    .section-text-container {
        width: 80vw;
    }
}