.top-menu {
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 0.4em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu__left, .top-menu center, .top-menu__right {
    height: 100%;
}
.top-menu__logo {
    width: 3.5em;
    height: 100%;
    color: var(--primary-text-color);
    cursor: pointer;
}


.top-menu center {
    flex: 1;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    font-size: clamp(0.8rem, 0.756rem + 0.22vw, 1.2rem);
}
.nav-list__item {
    cursor: pointer;
}

.top-menu__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    padding: 0 0.2em;
}