/* Общие параметры */
body {
    font-family: var(--faberge-font);
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

html {
    scroll-behavior: smooth;
}

/* Выделение мыши */
::selection {
    background: var(--blue);
    color: var(--primary-text-color);
}

/* Скроллбар */
html {
    scrollbar-gutter: stable;
}
&::-webkit-scrollbar {
    background: transparent;
}
&::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    background-clip: content-box;
}
&::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-gray);
}